:root{
  --tabNumber: 4      /* default value or tab in menu. The value is set via Javascript in popup.js*/
}

body {
    font-family: "Oxygen", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    height: 500px;
    width: 600px;
    background-color:#252a2e;
}
::-webkit-scrollbar {
    width: 1px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#app{
    min-height: 100%;
}



.navbar {
    position: relative;
    height: 100px;
    width: 100%;
    background: black !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-family: "Montserrat", sans-serif;
}

.navbar-nav{
    display: grid;
    grid-template-columns: repeat(var(--tabNumber), 1fr);  /* tabNumber is the number of menu items and it set via Javascript in popup.js */
}

.navbar .nav-link {
  position: relative;
    padding: .5rem 0rem;
    outline: none !important;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    cursor:pointer;
}

.navbar .nav-link.active {
  color: #fff;
}

nav.link:hover {
  text-decoration: none;
}
