body {
    font-family: 'Roboto', sans-serif;
    height: 500px;
    width: 600px;
    background-color:#252a2e;
}
::-webkit-scrollbar {
    width: 1px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#app{
    margin: 10px;
    min-height: 100%;
}


