#ghostforceComponent {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    letter-spacing: 1px;
}


#ghostforceComponent > div {
    width: 95%;
    background-color: #404040;
    margin: 17px auto;
    border-radius: 25px;
    padding: 0;
    -webkit-box-shadow: -2px 7px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 13px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 13px -1px rgba(0,0,0,0.75);
    color: #f2f2f2;
    text-align: center;
}

#ghostforceComponent > div > h1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #666666;
    border-radius: 25px 25px 0 0;
    height: 45px;
    text-align: left;
    padding-left: 15px;
    color: white;
    padding: 10px 0 0 15px;
    letter-spacing: 1.4px;
}

#ghostforceComponent > div > h1 > img {
    height: 20px;
    width: 20px;
    margin: 0 10px 2px 0;
    -webkit-box-shadow: 10px -12px 86px -5px rgba(250,250,230,1);
    -moz-box-shadow: 10px -12px 86px -5px rgba(250,250,230,1);
    box-shadow: 10px -12px 86px -5px rgba(250,250,230,1);
}

#ghostforceComponent > div .line_info {
    
    text-align: left;
    padding: 10px;
    margin: 5px;
    min-width: 100%;

  }

  .call_button{
    border: groove 1px rgba(255,255,255,.075);
    background-color: #666666;
    width: 240px;
    border-radius: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 20px 10px 10px 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }


  #ghostforceComponent > div .line_info > img {
    height: 12px;
    width: 12px;
    margin: 0 10px 2px 0;
    -webkit-box-shadow: 10px -12px 86px -5px rgba(250,250,230,1);
    -moz-box-shadow: 10px -12px 86px -5px rgba(250,250,230,1);
    box-shadow: 10px -12px 86px -5px rgba(250,250,230,1);
  }

#ghostforceComponent .task {
    
    border: groove 1px rgba(255,255,255,.075);
    border-radius: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    margin: 10px;
    
}
#ghostforceComponent .task > b{
    font-size: 16px;
}
#ghostforceComponent .task #task-comment{
    text-align: left;
}
#ghostforceComponent .Completed{
    background-color: rgb(81, 140, 14);
}

#ghostforceComponent .Open{
    background-color: rgb(207, 158, 4);
}
#ghostforceComponent .Inactive{
    background-color: rgb(200, 5, 28);
}

  

  #ghostforceComponent > div .btcp{
    display: inline-block;
    position: relative;
    padding: 0.1rem;
    margin: 0.1rem;
    border: hidden 1px rgba(255,255,255,.075);
}

.btcp:hover {
   
    border: groove 1px rgba(255,255,255,.075);
    border-radius: 0.4rem;
    cursor: copy;
    background-color: rgba(255,255,255,.075);
} 
.btcp:hover .tip {
    visibility: visible;
}
 
.icon{
    padding-top: 15px;
}

.row_icon{
    border-radius: 1.5rem;
    padding: 1rem 0.2rem 1rem 0.2rem;
    text-align: center;
    margin: 0px auto 0.6rem;
}

.quickbtn {
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* filter: drop-shadow(3px 3px 6px #888); */
    
}

.graybtn {
    filter: grayscale(1) drop-shadow(3px 3px 6px #888);
    
}
.graybtn:hover{
    cursor: not-allowed;
}

.tool {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.tip {
    visibility: hidden;
    width: 120px;
    background-color: #222;
    color: #f2f2f2;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    margin-top: 10px;
}

.tool:hover .tip {
    visibility: visible;
}

