#newEmailComponent{
    padding-top: 15px;
}

table{
    
    margin-top: 4%;
   
}

.clickable-row{
    cursor:pointer;
    }

.align-middle{
    position: absolute;
    top: 30%;
    left: 10%;
}

.no-email {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.no-email.top {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.no-email.bottom {
    font-size: 20px;
    padding-top: 5px;
}
td.email-collapse{
  padding: 0;
  border: none;

}
tr[class^='single-email']{
    background-color: #434b53;
    
    font-size: 0.9rem;
}

/* align tr with grid */
#newEmailComponent tr {
    display: grid;
    grid-template-columns: 1.3fr 2fr 2fr 2fr;
    text-align: center;
    
}

tr, td {
    border-bottom: 0px;
    transition: border-bottom 0.5s;
    padding: 0;
    overflow: hidden;
  }

tr td div {
    max-height: 0;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
    

}
tr.active td{
    border-bottom: 2px groove darkgrey;
    transition: border-bottom 0.2s;
}

tr.active td div {
    
    max-height: 100px;
    padding: 10px 10px;
    transition: max-height 0.6s, padding 0.6s;
}


.salesforce{
    position: absolute;
    top: 40%;
    left: 38%;
}
